.titleBar{
  width: 100%;
  height: 55px;
  padding: 10px;

}
.titleBar p{
  font-size: 14px;
    padding: 16px;
    margin: 0;
}
.Notifications{
    background: linear-gradient(to right, #1B3782, #1E2869);
}
.Badges{
    background: linear-gradient(to right, #0F5291, #1B67AE);
}
.bodyBar{
  width: 100%;
  height: 135px;
  background-color: yellow;
}
.bodyBar ul li{
  width: 100%;
  height: 45px;
  // border: 1px solid black;
  background-color: white;
}
.bodyBar ul{
list-style: none;
padding: 0;
}
