.titleBar{
  width: 100%;
  height: 55px;
  background-color: blue;
}
.bodyBar{
  width: 100%;
  height: 135px;
  background-color: yellow;
}
.bodyBar ul li{
  width: 100%;
  height: 45px;
  border: 1px solid black;
  background-color: red;
}
.bodyBar ul{
list-style: none;
padding: 0;
}
