.chartOverlayText{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 11;
  padding: 10px;

}

.chartInfo{
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.chart{
  background-image: radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -o-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  margin: 0;
    display: inline;
}
.qualityChart{
height: 100%;
}

.qualityChartTarget{
  color: white;
  display: inline-block;
  float: right;
    font-size: 8px;
}
.qualityChartActual{
  color: #A63785;
  display: inline-block;
  float: right;
    font-size: 8px;
    margin-right: 10px;
}
.qualityChartWrap{
  margin: 0 auto;
  display: block;
  width: 230px;
}
.qualityKey{
  top: 10px;
  right: 20px;
  position: relative;
}
