.Leaderboard{
  height: 70px !important;
}
.Leaderboard li{
  height: 40px;
}
.Leaderboard li td p{
  font-size: 23px !important;
}
.leaderBoardBar ul li{
  width: 100%;
  height: 40px;
  background-color: white;
}
.leaderBoardBar ul{
  list-style: none;
  padding: 0;
}
