.Leaderboard{
  height: 70px !important;
  background: linear-gradient(to right, #223948, #355870);
}
.Leaderboard h3{
  padding: 20px 0 0 20px;
}
.leaderboardBar ul{
  list-style: none;
  height: 40px;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}
.leaderboardBar li{
  float: left;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  line-height: 40px;
  margin: 0 5px;
}
.leaderboardPosition{
  font-weight: 500;
}
.leaderboardBar ul:nth-child(even) {
  background-color: #e0dddd;
}
.teamName{
  width: 75px !important;
}
.leaderboardIndicator{
  width: 20px;
}
.leaderboardScore{
  font-weight: 500;
  color: #C22E72;
}
.leaderboardBar li p{
  margin: 0;
}
.leaderBoardBar{
  height: 120px;
}
.leaderBoardTab{
  text-align: center;
  width: 100%;
  position: relative;
  bottom: -12px;
}
.leaderBoardTab .weekTab{
  width: 50%;
  display: inline-block;
}
.leaderBoardTab .monthTab{
  width: 50%;
  display: inline-block;
}
.leaderBoardTab .weekTab button{
  border: 0;
  padding: 0;
  background-color: transparent;
}
.leaderBoardTab .monthTab button{
  border: 0;
  padding: 0;
  background-color: transparent;
}
.tabSelect{
  color: rgb(237, 232, 232);
  background-color: transparent;
  border-bottom: 2px solid #C22E72;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  margin: 0px;
  font-weight: 400 !important;
}
.tabDeSelect{
  color: rgb(209, 209, 209);
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0;
}
.tabDeSelect:hover{
  color: rgb(237, 232, 232);
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0;
  font-weight: 400 !important;
}
