.wideBoyTile ul li {
  float: left;
  padding: 0px;
  margin: 0px 3px;
  height: 100%;
    // display: table-cell;
    width: 125px;
}
.wideBoyTile ul {
  // float: left;
  padding: 0px;
  margin: 0 auto;
  height: 100%;
  width: 524px;
}
.wideCircleWrap{
  height: 180px;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.wideCircleWrapChildren{
  width: 100%;
  height: 100%;
  margin: 60px 0 0 0;
  padding: 0;
  display: block;
  position: relative;
}

.wideCircle{
  background-color: rgb(0, 100, 143);
  border-radius: 50%;
  border: solid 3px white;
  width: 90px;
  height: 90px;
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 1;
  top: 0;
}
.wideBoyTile ul {
  list-style-type: none;
  // padding: 0;
  // margin: 0 auto;
  // display: inline-block;
  // width: 100%;
  // height: 100%;
  // position: relative;
}
.wideBoyTile{
  height: 180px;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0px;
  padding: 10px;
}
.imageWideBoy{
  background-color: rgb(158, 127, 81);
  width: 100%;
  height: 60%;
  position: relative;
  bottom: 0;
  margin: 0;
}
.imageWideBoy p{
  margin: 0;
  padding: 3px;
  font-size: 15px;
}
.wideCircle h3{
  text-align: center;
  position: relative;
  top: 9px;
}
.infoWideBoy{
  width: 125px;
  text-align: center;
  position: relative;
  top: 0px;
  margin: 0 auto;
  padding: 0;
    font-size: 12px;
}
// .infoWideBoy li{
//   float: left;
// }
// .infoWideBoy ul{
// list-style-type: none;
// padding: 0;
// margin: 0;
// }
