.column{
  height: 100%;
  // border: 1px solid black;
  padding: 0px;
}

.longTile{
  height: 600px;
  border: 1px solid black;
  padding: 0px;
}
.longTileBody{
  height: 580px;
  background-color: rgb(235, 225, 97);
  width: 100% -10px;
  padding: 0px;
  margin: 10px;
}
.container{
  padding: 0px;
}
.tile{
  height: 200px;
  border: 1px solid black;
  padding: 0px;
}
.tileBody{
  height: 180px;
  width: 100% -10px;
  padding: 0px;
  margin: 10px;
  position: relative;
}
.stretchTile{
  height: 200px;
  border: 1px solid black;
  padding: 0px;
  overflow: hidden;
}
