.greeting h3{
  color: #c0bada !important;
  font-weight: 300 !important;
  font-size: 25px;
}
.greeting h5{
  color: #c0bada !important;
  font-weight: 300;
}
body{
  font-family: 'Roboto';
  color: rgb(120, 120, 120);
  background-color: #EEEEEE;
  font-weight: 300;
}
body h3{
  font-family: 'Roboto';
  color: #e8e8e8;
  font-weight: 300;
  font-size: 14px;
}
body h5{
  font-family: 'Roboto';
  color: #c0bada !important;
  font-weight: 300 !important;
  font-size: 14px;
}
