@import url(https://fonts.googleapis.com/css?family=Roboto);
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css)
@import './header/main';
@import './libraries/circularProgressbar';
@import './libraries/bootstrap';
@import './grid/grid';
@import './tiles/circularTile';
@import './tiles/wideBoyTile';
@import './tiles/actionListTile';
@import './tiles/chartTile';
@import './microComponents/percentage';
@import './microComponents/indicator';
@import './microComponents/action';


@media (max-width:462px) and (min-width:260px){
  .stretchTile{
    height: 400px !important;
  }
  .wideBoyTile ul {
    width: 100% !important;
  }
}
@media (max-width:990px) and (min-width:766px){
  .stretchTile{
    height: 380px !important;
    margin-bottom: 20px;
  }
  .wideBoyTile ul {
    width: 100% !important;
  }
}
@media (max-width:939px) and (min-width:766px){
  .stretchTile{
    width: 235px !important;
  }
  .wideBoyTile ul {
    width: 100% !important;
  }
}

@media (max-width:524px){
nav:after{
  background-size: 600%;
}
}
@media (max-width:766px) and (min-width:525px){
nav:after{
  background-size: 300%;
}
}
@media (min-width:766px){
  .headerLogo{
    display: relative;
    top: -37px;
  }
}
@media (max-width:1199px) and (min-width:991px){
  .wideBoyTile ul li {
      width: 110px !important;
  }
  .wideBoyTile ul{
    margin: 0px 6px !important;
  }
}
@media (max-width:1000px) and (min-width:300px){
  .container {
      min-width: 100% !important;
  }
}
@media (max-width:300px){
  .container {
      min-width: 300px !important;
  }
}
// @media (max-width:940px){
//   .stretchTile {
//       max-width: 235px !important;
//   }
// }

body{
  font-family: 'Roboto';
  color: rgb(209, 209, 209);
  background-color: #EEEEEE;
}
// .default{
//   padding: 0;
//   margin: 0;
// }
.clearBoth{
  clear: both;
}
