// .actionIcon{
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   background-color: none;
//   margin: 6px 10px;
//   display: inline-block;
//   position: relative;
//   top: 0px;
// }
.percentComplete{
  float: right !important;
  font-size: 9px !important;
  color: #D8759C;
}


.actionIcon img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0px;
  margin: 5px;
  float: left;
}
.action{
  height: 100%;
  position: relative;
}

.actionBody{
  display: inline-block;
  width: 170px;
  height: 45px;
  position: relative;
  top: 0px;
  margin: 0 0 0 20px;
  font-size: 10px;
}
.actionBody{
  display: inline-block;
  width: 170px;
  height: 45px;
  position: relative;
  top: 0px;
  margin: 0 0 0 20px;
  font-size: 10px;
}
.actionBody p {
position: relative;
float: left;
display: flex;
align-items: center;
margin-top: 6px;
font-size: 9px;
}
.progressbar-container{
  border-radius: 5px;
  background-color: #E3E3E3;
  width: 100%;
  height: 7px;
  display: inline-block;
  position: relative;
  top: -10px;
  left: 0px;
}
.progressbar-progress{
  border-radius: 5px;
  height: 7px !important;

}
// .Accuracy .progressbar-progress{
//   background: linear-gradient( to right, red, orange, yellow, green);
//   background-size: 210px;
// }
.Accuracy .progressbar-container{
    width: 100%;
}
.Accuracy .info {
  font-size: 10px;
  padding: 40px 20px 10px 20px;
}
.Accuracy .info p{
  margin-bottom: 1.2rem;
  padding-top: 0px;
}
.Accuracy .circle {
  margin-top: 20px !important;
}
