.chartOverlayText{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 11;
  padding: 10px;

}

.chartInfo{
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.chartInfo .CircularProgressbar{
  height: 80%;
  width: 70px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 5px;
}
.chartInfo .CircularProgressbar-text{
  fill:   #C22E72;
}
.chartInfo .CircularProgressbar-path{
  stroke: #C22E72;
}
.outOf100{
  color: black;
  font-size: 7px;
  position: relative;
  text-align: center;
  width: 100%;
  top: -30px;
}
.chartStats{
  color: black;
}
.chartInfoLeft{
  width: 47%;
  margin: 0;
  display: inline-block;
}
.chartInfoRight{
  width: 40%;
  margin: 0;
  display: inline-block;
  position: relative;
  top: -15px;
}
.chartInfoRight li{
  list-style: none;
  display: inline-block;
  width: 70px;
  height: 22px;
}
.chartInfoRight li p{
  display: inline-block;
}
.chartInfoPercentage p{
  font-weight: 400;
  font-size: 13px;
  color: #71ACA2;
}
.chartInfoRight ul{
  margin: 0;
  padding: 10px 0 0 30px;
  display: inline-block;
}
.chartInfoRight li p{
  margin: 0;
}
.chartInfoCentre{
  width: 3px;
  height: 10px;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  position: relative;
  top: -36px;
}
.chartInfoIcons img{
  height: 13px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px;
  display: inline-block;
}
.chartInfoIcons{
  width: 20px;
  position: relative;
  display: inline-block;
  top: -17px;
  left: 29px;
}
.chartInfoIcons p{
  padding: 0;
  margin: 0;
}
.chart{
  background-image: radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -o-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, #1669AD, #1D4793);
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  margin: 0;
  display: inline;
}
.qualityChart{
  height: 100%;
}

.qualityChartTarget{
  color: white;
  display: inline-block;
  float: right;
  font-size: 8px;
}
.qualityChartActual{
  color: #A63785;
  display: inline-block;
  float: right;
  font-size: 8px;
  margin-right: 10px;
}
.qualityChartWrap{
  margin: 0 auto;
  display: block;
  width: 230px;
}
.qualityKey{
  top: 10px;
  right: 20px;
  position: relative;
}
