.circleWrap{
  height: 180px;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
}
.target{
  font-size: 16px;
  color: #B95483;
}
.circle{
  border-radius: 50%;
  border: solid 3px white;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 35px auto 0;
  display: block;
  z-index: 12;
  top: 0;
}
.Bonus .circle{
  background-color: #0C6583;
}
.Customer .circle{
  background-color: #0C6A50;
}
.Accuracy .circle{
  background-image: url("../../assets/images/accuracy-icon.png");
  background-size: 100%;
}
.circle h3{
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 20px;
}

.info{
  background-color: white;
  width: 100%;
  height: 50%;
  position: relative;
  top: 0;
  margin: 0;
}
.info li{
  float: left;
  position: relative;
  font-size: 12px;
  text-align: center;
  margin: 45px 10px 0 10px;
}
.info li p{
  margin-bottom: 0;
}
.info ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 280px;
}

.image{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  margin: 0;
  display: inline;
}
.Bonus .image{
  background-image: url("../../assets/images/bonus.jpg");
  background-size: 50%;
}
.Bonus .imageOverlay{
  background-color: rgba(12, 101, 131, 0.54);
}
.Customer .image{
  background-image: url("../../assets/images/smileys.jpg");
}
.Customer .imageOverlay{
  background-color: rgba(12, 106, 80, 0.54);
}
.Accuracy .image{
  background-image: url("../../assets/images/accuracy-image.jpg");
  background-size: 170%;
  height: 40%;
}
.Accuracy .imageOverlay{
  background-color: rgba(84, 84, 84, 0.54);
  height: 40%;
}
.Accuracy .imageOverlayText{
  height: 40%;
}
.Accuracy .info{
  height: 60% !important;
  padding: 20px;
}

.imageOverlay{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 10;
}
.imageOverlayText{
  width: 100%;
  height: 50%;
  position: relative;
  top: 0;
  margin: 0;
  z-index: 11;
  padding: 10px;
    font-size: 15px;
}

.image h5{
  padding: 3px;
}
